
#wrapper{
    margin:  0px auto;
    padding: 0px;
    border: 2px solid blue;
    border-radius: 5px;
    width: 600px;
    height: 670px;
    background: rgb(241, 183, 245);
    text-align: center;
}

#teamOne{
    /* border: 2px solid rgb(1, 0, 18); */
    border-bottom: 1px solid black;
    width: 600px;
    height: 320px;
}

#header{
    color: blue;
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.scores{
    color: black;
    font-size: 80px;
    font-weight: bolder;
}

button{
    color: rgb(101, 7, 208);
    border: 1px solid rgb(101, 7, 208);
    border-radius: 3px;
    margin-top: -8px;
    width: 40px;
    height: 30px;
    font-size: 20px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#resert-bnt{
    border: none;
    border-radius: 2px;
    padding-bottom: 4px;
    margin-top: -12px;
    color: rgb(246, 248, 248);
    background: black;
    width: 60px;
    height: 35px;
    text-transform: uppercase;
    font-size: 15px;
    cursor: pointer;
    font-family: 'Segoe UI', 'Open Sans', 'Helvetica Neue';
}

button:hover{
    background: lightblue;
    border: 1px solid rgb(101, 7, 208);
    border-radius: 4px;
}

#resert-bnt:hover{
    background: green;
    border-radius: 6px;
}

.winning{
    color: green;
}
.losing{
    color: darkred;
}

#home-delete-btn, #away-delete-btn {
    color: red;
    width: 60px;
    height: 25px;
    font-size: 15px;
    text-transform: uppercase;
}

#home-delete-btn:hover, #away-delete-btn:hover {
    background: black;
    color: white;
}